/*@import "../common/components/colors";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;

.demo-header {
    background-color: $palette-brown-700;
    height: 40px;
    width: 100%;
}*/