@import "~avam-material/lib/colors";

.contentSection{
    margin-top:60px;
}
.logo {
    content:url("/www/assets/logo.jpg");
    height:63px;
    width:200px;
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

